@{ MerchantTribeStore.Models.FlexPageEditorViewModel editorModel = null;
   if (ViewData["FlexEditorModel"] != null)
   {
       editorModel = (MerchantTribeStore.Models.FlexPageEditorViewModel)ViewData["FlexEditorModel"];
   }
}
@if (editorModel != null && editorModel.IsEditMode == true)
{
    <div id="flexedit">
        <div class="flexbuttonright">
            <a href="@Url.Content("~/bvadmin/catalog/Categories_FinishedEditing.aspx?id=" + editorModel.CategoryId)">
                <img src="@Url.Content("~/images/system/flexedit/btnClose.png")" alt="Close Editor" />
            </a>
        </div>
    @if (editorModel.IsPreview == true)
    {
        <div class="flexbuttonright">
            <a href="@Url.Content(editorModel.CurrentPageUrl)">
                <img src="@Url.Content("~/images/system/flexedit/btnPreviewOn.png")" alt="Preview Is On" />
            </a>
        </div>
    }
    else
    {
        <div class="flexbuttonright">
            <a href="@Url.Content(editorModel.CurrentPageUrl + "?preview=1")">
                <img src="@Url.Content("~/images/system/flexedit/btnPreviewOff.png")" alt="Preview Is Off" />
            </a>
        </div>
    }
    
        <div class="dragpart dragbutton" id="columncontainer" ><img src="@Url.Content("~/images/system/flexedit/btnColumns.png")" alt="Columns" /></div>
        <div class="dragpart dragbutton" id="htmlpart" ><img src="@Url.Content("~/images/system/flexedit/btnHtml.png")" alt="HTML" /></div>
        <div class="dragpart dragbutton" id="image" ><img src="@Url.Content("~/images/system/flexedit/btnImage.png")" alt="Image" /></div>
        
        <div class="hidden" id="flexpageid">@editorModel.CategoryId</div>
        <div class="hidden" id="flexjsonurl">@Url.Content("~/flexpartjson/" + editorModel.CategoryId)</div>
        <div class="hidden" id="flexpageediting"></div>
    </div>            
}
