@model MerchantTribeStore.code.TemplateEngine.TagHandlers.Logo.LogoViewModel
<a href="@Html.Raw(Model.LinkUrl)" title="@Model.StoreName" class="logo">
@if (Model.InnerContent.Trim().Length > 0)
{
    @Html.Raw(Model.InnerContent)
}
else if (Model.UseTextOnly == false && Model.LogoImageUrl.Length > 0)
{
    <img src="@Html.Raw(Model.LogoImageUrl)" alt="@Model.StoreName" />
}
else
{
    @Model.LogoText
}
</a>

